_projects/docs_local/
_projects/AuditoryEvidenceAccum/experiments/
_projects/AuditoryEvidenceAccum/subjects/
_projects/AuditoryEvidenceAccum/boards/
_projects/AuditoryEvidenceAccum/users/
_projects/AuditoryEvidenceAccum/records/animals_metadata.json
_projects/AuditoryEvidenceAccum/records/session_manual_entries.csv
_projects/**/session_startup_checklist.xlsx
_projects/**/session_startup_checklist.md
_projects/Tests/experiments/
_projects/Tests/subjects/
_projects/Tests/boards/
_projects/Tests/users/
_projects/Tests/tasks/**/*.png
**/__pycache__/
